{{define "_head"}}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Golang Web</title>

         <!--CDNS-->
    <link rel="icon" href="https://br988.hostgator.com.br:2083/cpsess8844173924/viewer/home3%2foproib10%2foproibido.com.br%2farquivos%2fimagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://influenciainvisivel.com.br/arquivos/bootstrap.min.css">
    <link rel="stylesheet" href="https://influenciainvisivel.com.br/arquivos/theme_dark.css">
    <link href="https://influenciainvisivel.com.br/arquivos/login.css" rel='stylesheet' type='text/css'>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

         <!--  AJAX NOT IMPLEMENTED -->

    <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		$("#menu a").click(function( e ){
			e.preventDefault();
			var href = $( this ).attr('href');
			$("#content").load( href +" #content");
		});
	});
  </script>
  <link href="assets/login.css" rel="stylesheet" type="text/css" media="all">
-->
</head>

{{end}}