{{define "Index"}}

{{template "_head"}}

            <!--Effects-->
<body class="is-site-bg-border site-bg-color is-site-bg-constellation subscribe-form-closed is-loaded">

    <div>
        <div class="site-bg-img"></div>
        <div class="site-bg-video"></div>
        <div class="site-bg-effect layer" data-depth=".30" style="position: relative; display: block; left: 0px; top: 0px; transform: translate3d(40.6172px, -6.95973px, 0px); transform-style: preserve-3d; backface-visibility: hidden;"></div>
        <canvas class="site-bg-canvas layer" data-depth=".30" style="position: absolute; display: block; left: 0px; top: 0px; transform: translate3d(40.6172px, -6.95973px, 0px); transform-style: preserve-3d; backface-visibility: hidden; opacity: 1;" width="1360" height="624"></canvas>
        <div class="site-bg-border" style="display: block; opacity: 1;"></div>
    </div>

    <div class="site-canvas">
            <!--Effects-->

        <header class="site-header">
            <div class="container">
                <div class="site-header-header">
                    <div class="site-header-brand">

                    </div>

                </div>
                <div class="site-header-main">
                    <nav class="primary-nav">
                        <div class="primary-menu-container">

                            <a href="/login" data-hover="Home"><span>Admin</span></a>

                        </div>
                    </nav>
                </div>
            </div>
        </header>

        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;">
            <div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div>
        </div>
        <div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;">
            <div class="ps-scrollbar-y" style="top: 0px; height: 0px;"></div>
        </div>
    </div>
    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;">
        <div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div>
    </div>
    <div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;">
        <div class="ps-scrollbar-y" style="top: 0px; height: 0px;"></div>
    </div>
    </div>

    <div id="home" class="section is-active scroll-block ps-container" data-ps-id="8c256a9d-004d-c821-75e7-71011cbc57d4" style="opacity: 1; display: block; visibility: visible; transform: scale(1);">
        <div class="section-table">
            <div class="section-table-cell">
                <div class="container">
                    <div class="col-xs-12">
                        <div class="col-inner">
                            <p>
                                <div class="animated bounceInDown" id="formulario">
                            </p>
                            <h3> Desenvolvido com jQuery <font color="#694db6"><3</font></h3>
                            <br>
                            </main>
                            <!-- .site-main -->
                            </div>
                        </div>

                                    <!--//Footer-->
                        <div id="down" class="footer-copyright text-center py-3">© 2019 Copyright:
                            <a href="https://www.linkedin.com/in/erlan-lucio-760745183/" Target="_blank" rel="noopener noreferrer"> Erlan Lucio</a>
                        </div>
                                    <!--//Footer-->

                        <script src="https://influenciainvisivel.com.br/arquivos/jquery-1.11.3.min.js.download"></script>
                        <script src="https://influenciainvisivel.com.br/arquivos/bootstrap.min.js.download"></script>
                        <script src="https://influenciainvisivel.com.br/arquivos/main.js.download"></script>

</body>

</html>
{{end}}
